.chatPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0px;

    .wrapper {
        flex: 1;
        overflow: scroll;
                
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        /* Firefox */
        scrollbar-width: none;

        width: 100%;
        display: flex;
        justify-content: center;

        .chat {
            width: 60%;
            display: flex;
            max-width: 800px;
            flex-direction: column;
            gap: 20px;
            padding: 10px;

            p, li {
                margin: 4px 4px;
            }

            .message {
                padding: 12px;

                &.user {
                    background-color: rgba(255, 255, 255, 0.6);
                    border-radius: 20px;
                    min-width: 60%;
                    align-self: flex-end;
                }
            }
        }
    }
}